@font-face {
    font-family: gorillaz;
    src: url(./assets/fonts/REGATA__.TTF);
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: rgb(112, 218, 117);
}

a:hover {
    color: rgb(230, 231, 163);
    transition: 0.3s;
}

header {
    font-family: gorillaz;
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;    
}

div#footerContainer {
    width: 90%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px; /*espaciado*/
}

.col {
    font-family: gorillaz;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

body {
    background-image: url(./assets/images/background%20main.jpg); /*imagen de fondo*/
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    color: white; /*color de los textos*/
}

div#albums {
    float: right;
    margin-top: 95px;
    margin-right: 20px;
    width: 32%;
}

div#general {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 20px;
    max-width: 960px; /* Mantiene el ancho en pantallas grandes */
    height: 1200px;
    background-color: rgba(32, 21, 44, 0.65); /* Fond con 75% de opacidad */
}

div#generalHeader {
    font-family: gorillaz;
    padding: 20px;
    width: 960px;
    height: 150px;
}

.generalBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    width: 500px;
    height: auto;
    border: 2.5px solid rgb(65, 59, 148);
    background-color: rgb(37, 44, 85);
}

.generalBody p {
    padding: 10px 0px;
    text-align: center;
}

.bodyTitle {
    font-family: gorillaz;
    margin-top: 10px;
    width: 95%;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    background-color: rgb(65, 59, 148);
}

.imageList {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.imageItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.imageItem img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

.sub-section {
    margin-left: 20px;
}

.sub-section p {
    padding: 10px 0px;
}

@media (max-width:768px) {
    header {
        flex-direction: column;
    }

    div#albums {
        float: none;
        width: 100%;
        margin-right: 0;
        text-align: center;

    }

    footer {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    nav {
        padding: 10px 0px
    }
}

.commentsBox {
    padding: 10px 40px;
}

#form-comentario input,
#form-comentario textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #111;
  color: #eee;
  font-size: 16px;
  resize: vertical;
}

#form-comentario button {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}

#form-comentario button:hover {
  background-color: #1ed760;
}

#nombre {
  width: 150px;
  height: 15px;
  font-size: 14px;
}

#mensaje {
    width: 700px;
    height: 100px;
    font-size: 16px;
}

#lista-comentarios {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #eee;
}

.comentario {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: 4px solid #627bb0;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1.5px solid #606060;
}

.nombre {
    color: #744494;
    font-weight: bold;
}

.mensaje {
    color: #ddd;
}