@font-face {
    font-family: gorillaz;
    src: url(../gorillazPage/assets/fonts/REGATA__.TTF);
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: rgb(112, 218, 117);
}

a:hover {
    color: rgb(230, 231, 163);
    transition: 0.3s;
}

header {
    font-family: gorillaz;
    display: flex;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

footer {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.80);
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 0;    
}

div#footerContainer {
    width: 90%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px; /*espaciado*/
}

.col {
    font-family: gorillaz;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

body {
    background-image: url(../gorillazPage/assets/images/background\ main.jpg); /*imagen de fondo*/
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    color: white; /*color de los textos*/
}

div#albums {
    float: right;
    margin-top: 95px;
    margin-right: 20px;
    width: 32%;
}

div#general {
    flex: 1;
    font-family: sans-serif;
    margin: auto;
    margin-top: 20px;
    max-width: 960px; /* Mantiene el ancho en pantallas grandes */
    height: 1200px;
    background-color: rgba(32, 21, 44, 0.65); /* Fond con 75% de opacidad */
}

div#generalHeader {
    font-family: gorillaz;
    padding: 20px;
    width: 960px;
    height: 150px;
}

.generalBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    width: 500px;
    height: auto;
    border: 2.5px solid rgb(65, 59, 148);
    background-color: rgb(37, 44, 85);
}

.generalBody p {
    padding: 10px 0px;
    text-align: center;
}

.bodyTitle {
    font-family: gorillaz;
    margin-top: 10px;
    width: 95%;
    height: auto;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    background-color: rgb(65, 59, 148);
}

.imageList {
    margin-top: 10px;
    list-style: none;
    padding: 0;
}

.imageItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.imageItem img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

@media (max-width:768px) {
    header {
        flex-direction: column;
    }

    div#albums {
        float: none;
        width: 100%;
        margin-right: 0;
        text-align: center;

    }

    footer {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 20px;
    }

    nav {
        padding: 10px 0px
    }
}

/*
div#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
    z-index: 9999;
}
*/