@font-face {
    font-family: regata;
    src: url(../assets/fonts/REGATA__.TTF);
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: rgb(112, 218, 117);
}

a:hover {
    color: rgb(230, 231, 163);
    transition: 0.3s;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 5px;
}

h2 {
    font-family: regata;
}

/*HEADER HEADER HEADER HEADER HEADER*/

.section-title {
    font-size: 50px;
    margin-bottom: 15px;
}

header {
    font-family: regata;
    display: flex;
    min-height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}
/*HEADER HEADER HEADER HEADER HEADER*/

.tabs-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15px;
    max-width: 500px;
}

.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
}

.tab {
    padding: 20px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.tab:hover {
    background-color: rgba(173, 93, 173, 0.432);
    transition: 0.3s;
}

.tab.active {
    background-color: rgba(173, 93, 173, 0.432);
    border-top: 4px solid rgba(173, 93, 173, 0.432);
}

.tab-content.active {
    display: block;
}

.tab-content {
    display: none;
}

.tab-content img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover; /*ajusta la imagen sin deformarla*/
    border-radius: 10px;
    display: block;
    margin: auto; /*centra la imagen*/
}

.textContent {
    flex: 1 /*ocupa el espacio disponible*/;
    padding-right: 20px;
    min-width: 280px; /*evita que se haga demaciado pequeño*/
}

.textContent li {
    list-style-position: outside;
    padding-left: 1.5em; /*deja espacio para la viñeta*/
    text-indent: -1.5em; /*hace que la primera linea retroceda ese espacio, alineandola con las demas lineas*/
}



.album-title {
    font-family: regata;
    background-color: rgba(173, 93, 173, 0.432);   
}

.info-section {
    font-family: regata;
    background-color: rgba(155, 72, 106, 0.432);   
    
}

.dato {
    font-weight: bold;
}

.value {
    margin-left: 20px;
}

.info-box {
    min-width: 280px;
}

table {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 10px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    max-width: 500px;
}

th, td {
    padding: 10px;
}

td {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td img {
    max-height: 200px;
    border-radius: 5px;
    margin-left: 60px;
}

hr {
    margin: 10px 0;
}

div#general {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 50px auto;
    background-color: rgba(32, 21, 44, 0.65); /* Fond con 65% de opacidad */
    padding: 20px;
}

body {
    background-image: url(../assets/images/background\ main.jpg); /*imagen de fondo*/
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white; /*color de los textos*/
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

/*FOOTER FOOTER FOOTER FOOTER FOOTER*/
footer {
    font-family: regata;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.col {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
/*FOOTER FOOTER FOOTER FOOTER FOOTER*/


@media (max-width: 700px) {
    div#general {
        flex-direction: column;
        align-items: center;
    }

    .textContent {
        padding-right: 0;
    }

    .info-box {
        margin-top: 30px;
    }

    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0;
    }
}